{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} class="no-sidebar">
  <div id="left-leaf-bottom" class="decor-img"></div>
  <div id="right-leaf-bottom" class="decor-img"></div>
  <header role="banner">{% include header.html %}</header>
  <div id="main">
    <div id="content">
      {{ content | expand_urls: root_url }}
      <section id="coming-soon">
        <h1>The new site is on its way!</h1>
        <p class="vcard">
          <span class="fn">Ivana Miletic Demmel</span>
          <a href="mailto:me@yogawithivana.com"><span class="email">me@yogawithivana.com</span></a>
          <a href="https://www.facebook.com/yogawithivana"><span class="facebook">facebook.com/yogawithivana</span></a>
          <span class="tel">+447936348233</span>
        </p>
      </section>
    </div>
  </div>
  <div id="birdfeet" class="decor-img"></div>
  <div id="left-leaf-top" class="decor-img"></div>
  <div id="right-leaf-top" class="decor-img"></div>
  <footer role="contentinfo">{% include footer.html %}</footer>
  {% include after_footer.html %}
</body>
</html>
