body > footer {
  @extend .sans;
  font-size: .5em;
  color: $footer-color;
  text-shadow: lighten($footer-bg, 5) 0 1px;
  background: $footer-bg $noise-bg;
  position: relative;
  z-index: 1;
  a {
    @include link-colors($footer-link-color, $footer-link-color-hover, $visited: $footer-link-color);
  }
  p:last-child { margin-bottom: 0; }
  text-align: center;
}

footer img {
  vertical-align: -20%;
  margin-right: 0.4em;
}

footer img#octocat {
  width: 16px;
  margin-left: 0.25em;
}