body > footer {
  @extend .sans;
  font-size: .5em;
  color: $footer-color;
  text-shadow: lighten($footer-bg, 5) 0 1px;
  background: $footer-bg $noise-bg;
  position: relative;
  z-index: 1;
  a {
    @include link-colors($footer-link-color, $footer-link-color-hover, $visited: $footer-link-color);
  }
  p:last-child { margin-bottom: 0; }
}
body > footer img#octocat {
  vertical-align: -35%;
  margin-left: 0.4em;
}
body > footer img#creativecommons {
  vertical-align: -30%;
  margin-right: 0.4em;
}