// Here you can easily change your sites's layout.
// To give it a try, uncomment some of the lines below, make changes, rebuild your blog, and see how it works.

$page-bg-image: 'page-bg.jpg';

$max-width: 940px;

body {
  height: 100%;
}

.columns {
  -webkit-column-width: 290px;
  -webkit-column-gap: 30px;
  -moz-column-width: 290px;
  -moz-column-gap: 30px;
  column-width: 290px;
  column-gap: 30px;
}

p.centeredimage {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1.1em;
}

$header-font-size: 2em;
$header-padding-top: 30px;
$header-padding-bottom: 85px;

$type-border: none;

//$max-width: 1350px;
//$indented-lists: true;

// Padding used for layout margins
$pad-min: 18px;
$pad-narrow: 80px;
$pad-medium: 120px;
$pad-wide: 160px;

// Sidebar widths used in media queries
//$sidebar-width-medium: 240px;
//$sidebar-pad-medium: 15px;
//$sidebar-pad-wide: 20px;
//$sidebar-width-wide: 300px;
